button {
    display: block;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    gap: 10px;
    text-align: center;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.644);
    margin-top: 50px;
    cursor: pointer;
    background: #149bfc;
}

.displayTextToCopy{
    display: block;
    width: 50%;
    min-width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    color: #000000;
}

textarea{
    box-sizing: border-box;
    margin: auto;
    display: block;
    margin-top: 40px;
    width: 70%;
    min-width: 600px;
    height: 259px;
    resize: none;
    font-size: 18px;
    font-family: inherit;
    background: #ffffff;
    border: 5px solid #000000;
}

.heading{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 160%;
    margin-bottom: 20px;
    /* or 51px */
    color: #000000;
}

.score-section{
    display: flex;
    gap: 2rem;
    margin:auto;
    justify-content: center;
}

.neutralText{
    color: #000;
}

.errorText{
    color: red;
}

.correctText{
    color: green;
}